
<% if current_user.groups.empty? == false %>
  <%= link_to "Back to Group", group_path(current_user.groups.first) %>
<% elsif current_user.members.empty? == false %>
  <%= link_to "Back to Group", group_path(current_user.members.first.group_id) %>
<% end %>


<div class="container-chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>
  <h1>#<%= @chatroom.name %></h1>

  <div class="messages" data-chatroom-subscription-target="messages">
  <% @chatroom.messages.each do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
</div>
</div>

<%= simple_form_for [@chatroom, @message],
  html: {
    class: "d-flex",
    data: {
      action: "turbo:submit-end->chatroom-subscription#resetForm",
      controller: "chatroom-subscription"
    }
  } do |f|
%>
  <%= f.input :content,
    label: false,
    placeholder: "Message #{@chatroom.name}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>
