
<h1><%= @group.name %></h1>

<% if @group.user_id == current_user.id %>
  <p>Welcome to your group</p>
<% else %>
  <% if current_user.members.empty? == false %>
    <% if current_user.members.first.status == "accepted" %>
      <p>Welcome to your group</p>
    <% end %>
  <% else %>
    <%= simple_form_for [@group, @member] do |f| %>
      <%= f.submit "Heart", class: "btn btn-dark" %>
    <% end %>
  <% end %>
<% end %>


<h2>Members of the group</h2>

    <div class="pic">
      <%= link_to user_path(@group.user) do%>
        <%= cl_image_tag @group.user.photo.key,class: "avatar" if @group.user.photo.attached? %>
      <% end %>
    </div>


<% @colection.each do |id| %>

        <% if User.find(id).members.first.status == "accepted" %>
          <div class="pic"><%= link_to user_path(id) do %>
            <%= cl_image_tag User.find(id).photo.key,class: "avatar" %>
          <% end %></div>
        <% end %>

<% end %>


<% if @group.user_id == current_user.id %>
 <% if @group.chatroom == nil %>
  <%= link_to "Create a new chat", new_group_chatroom_path(@group) %>
 <% end %>
<% end %>

<% if @group.user_id == current_user.id %>
 <% if @group.chatroom != nil %>
    <%= link_to "Open chat", chatroom_path(@group.chatroom) %>
 <% end %>
<% end %>
<% if @group.user_id != current_user.id %>
  <% if current_user.members.empty? == false %>
    <% if current_user.members.first.status == "accepted" %>
      <% if @group.chatroom != nil %>
        <%= link_to "Open chat", chatroom_path(@group.chatroom), class: "btn" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% if current_user.members.empty? == false %>

  <% if current_user.members.first.group_id == @group.id && current_user.members.first.status == "accepted" %>
    <%= link_to "Leave this group", 
    group_member_path(@current_user.members.first), class: "btn",

  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
  <% end %>
<% end %>
