
<h1><%= @group.name %></h1>

<% if @group.user_id == current_user.id %>
  <p>Welcome to your group</p>
<% else %>
  <% if current_user.members.empty? == false %>
    <% if current_user.members.where(:status => "accepted").exists? %>
      <p>Welcome to your group</p>
    <% elsif current_user.members.where(:status => "accepted").exists? == false %>
      <%= simple_form_for [@group, @member] do |f| %>
        <%= f.submit "Heart", class: "btn btn-dark" %>
      <% end %>
    <% end %>
  <% else %>
    <%= simple_form_for [@group, @member] do |f| %>
      <%= f.submit "Heart", class: "btn btn-dark" %>
    <% end %>
  <% end %>
<% end %>


<h2>Members of the group</h2>

    <div class="pic">
      <%= link_to user_path(@group.user) do%>
        <%= cl_image_tag @group.user.photos.first.key,class: "avatar" if @group.user.photos.attached? %>
      <% end %>
    </div>

<% @group.members.each do |member| %>
        <% if member.status == "accepted" %>
          <div class="pic"><%= link_to user_path(member.user) do %>
            <%= cl_image_tag member.user.photos.first.key,class: "avatar" %>
          <% end %></div>
        <% end %>
<% end %>



<% if @group.user_id == current_user.id %>
 <% if @group.chatroom == nil %>
  <%= link_to "Create a new chat", new_group_chatroom_path(@group) %>
 <% end %>
<% end %>

<% if @group.user_id == current_user.id %>
 <% if @group.chatroom != nil %>
    <%= link_to "Open chat", chatroom_path(@group.chatroom) %>
 <% end %>
<% end %>

<% if @group.user_id != current_user.id %>
  <% if current_user.members.empty? == false %>
    <% if current_user.members.where(:status => "accepted").exists? %>
      <% if @group.chatroom != nil %>
        <%= link_to "Open chat", chatroom_path(@group.chatroom), class: "btn" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if current_user.members.empty? == false %>
  <% if current_user.members.first.group_id == @group.id && current_user.members.where(:status => "accepted").exists? %>
    <%= link_to "Leave this group",
    group_member_path(@current_user.members.first), class: "btn",

  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
  <% end %>
<% end %>
