
<h1><%= @group.name %></h1>

<% if @group.user_id == current_user.id %>
  <p>Welcome to your group</p>
<% else %>
  <% if current_user.members.empty? == false %>
    <% if current_user.members.first.status == "accepted" %>
      <p>Welcome to your group</p>
    <% end %>
  <% else %>
    <%= simple_form_for [@group, @member] do |f| %>
      <%= f.submit "Heart", class: "btn btn-dark" %>
    <% end %>
  <% end %>
<% end %>

<h2>Members of this group</h2>
  <ul>
    <li><%= link_to User.find(@group.user_id).first_name, user_path(User.find(@group.user_id)) %></li>
  </ul>

<% @colection.each do |id| %>
    <ul>
        <% if User.find(id).members.first.status == "accepted" %>
          <li><%= link_to User.find(id).first_name, user_path(id) %></li>
        <% end %>
    </ul>
<% end %>


<% if @group.user_id == current_user.id %>
 <% if @group.chatroom == nil %>
  <%= link_to "Create a new chat", new_group_chatroom_path(@group) %>
 <% end %>
<% end %>

<% if @group.user_id == current_user.id %>
 <% if @group.chatroom != nil %>
    <%= link_to "Open chat", chatroom_path(@group.chatroom) %>
 <% end %>
<% end %>

<% if @group.user_id != current_user.id %>
  <% if current_user.members.empty? == false %>
    <% if current_user.members.first.status == "accepted" %>
      <% if @group.chatroom != nil %>
        <%= link_to "Open chat", chatroom_path(@group.chatroom) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if current_user.members.empty? == false %>
  <% if current_user.members.first.group_id == @group.id && current_user.members.first.status == "accepted" %>
    <%= link_to "Leave this group",
   group_member_path(@current_user.members.first),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

  <% end %>
<% end %>
