

<% if current_user.groups.empty? && current_user.members.empty? == false %>
  <div class="dashboard-container">
    <h1>Check the status of your invitations</h1>
    <% @members.each do |member| %>

      <% if member.invited == current_user.id %>
        <div class="dashboard-card-user">
            <p>Your join request to <%= member.group.name %> is: <strong><%= member.status %></strong>.</p>
            <% if member.status == "accepted" %>
              <p>Go to your group: <%= link_to member.group.name, group_path(member.group) %></p>
            <% end %>
        </div>
      <% end %>
    <% end %>

    <h1>Manage Your Invitations</h1>
    <% @members.each do |member| %>
      <% if member.invited != current_user.id %>
        <div class="dashboard-card">
          <p><%=  User.find(Group.find(member.group_id).user_id).first_name %> invited you to join his <strong><%= link_to Group.find(member.group_id).name, group_path(Group.find(member.group_id)) %></strong>.</p>
          <p> Current status: <strong><%= member.status %></strong>.</p>
            <% if member.status == "pending" %>
              <div class="link-heart">
                <p> You want to: <%= link_to accept_path(member), data: {turbo_method: :patch} do %> <i class="fa-solid fa-heart" style="color: #3b034f;"></i><% end %> or <%= link_to reject_path(member), data: {turbo_method: :patch} do %><i class="fa-solid fa-rectangle-xmark" style="color: #3b034f;"></i><% end %> ?</p>
              </div>
              <% if member.status == "accepted" %>
                <p> You joined the group.</p>
              <% elsif member.status == "rejected" %>
                <p> The requester will be notified about your decision.</p>
              <% end %>
            <% end %>
        </div>
      <% end %>
  </div>
  <% end %>



<% elsif current_user.groups.empty? == false && current_user.members.empty? %>
  <div class="dashboard-container">
      <h1>Manage Your Invitations</h1>
      <% @groups.each do |group| %>
        <% group.members.each do |member| %>
          <div class="dashboard-card">
            <% if member.invited == current_user.id %>

              <%= link_to user_path(member.user) do %>
                <h5> <strong><%= member.user.first_name %> <%= member.user.last_name %></strong></h5>
              <% end %>
              <h6>Was invited to enter your <%= link_to member.group.name, group_path(member.group) %> group.</h6>
              <p> Current status from this member: <strong><%= member.status %></strong>.</p>
            <% else %>
              <%= link_to user_path(member.user) do %>
                <h5> <strong><%= member.user.first_name %> <%= member.user.last_name %></strong></h5>
              <% end %>
              <h6>Wants to enter your <%= link_to member.group.name, group_path(member.group) %></h6>
              <p> Current status: <strong><%= member.status %></strong>.</p>
              <% if member.status == "pending" %>
                <div class="link-heart">
                <p> You want to: <%= link_to accept_path(member), data: {turbo_method: :patch} do %> <i class="fa-solid fa-heart" style="color: #3b034f;"></i><% end %> or <%= link_to reject_path(member), data: {turbo_method: :patch} do %><i class="fa-solid fa-rectangle-xmark" style="color: #3b034f;"></i><% end %> ?</p>
                </div>
              <% end %>
          </div>
            <% end %>
        <% end %>
      <% end %>
  </div>
<% end %>


<div class="dashboard-create">
  <% if current_user.groups.empty? && current_user.members.first == nil %>
    <h1>Create your group</h1>
    <%= link_to "Start", new_group_path %>
  <% end %>
</div>
