<div class="pic-dashboard">
    <h3>Welcome back, </h3>
      <%= link_to user_path(current_user) do%>
        <%= cl_image_tag current_user.photos.first.key if current_user.photos.attached? %>
      <% end %>
      <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
</div>




<% if current_user.groups.empty? && current_user.members.empty? == false %>
  <div class="dashboard-container">
    <h1>Manage Your Requests</h1>
    <% @members.each do |member| %>

      <% if member.invited == current_user.id %>
        <div class="dashboard-card1">
          <div class="top">
                <h5>Invitation to join:</h5>
                <h5>Status:</h5>
          </div>
          <div class="top">
                 <%= link_to user_path(member.group) do %>
                  <h6> <%= member.group.name %> </h5>
                 <% end %>
                <h6><%= member.status %></h6>
          </div>
           <div class="image1">
              <%= link_to user_path(member.group.user) do %>
                <%= cl_image_tag member.group.user.photos.first.key if member.group.user.photos.attached? %>
              <% end %>
              <h5> Owned by <%= member.group.user.first_name %> <%= member.group.user.last_name %> <i class="fa-solid fa-house-chimney-user fa-xs" style="color: #583f91;"></i></h5>
              </div>
        </div>
      <% end %>
    <% end %>


    <% @members.each do |member| %>
      <% if member.invited != current_user.id %>
        <div class="dashboard-card1">
          <div class="top">
                <h5>Invitation to join:</h5>
                <h5>Status:</h5>
          </div>
          <div class="top">
                <h6> <%= link_to Group.find(member.group_id).name, group_path(Group.find(member.group_id)) %> </h6>
                <h6><%= member.status %></h6>
          </div>
           <div class="image1">
              <%= link_to user_path(Group.find(member.group_id).user) do %>
                <%= cl_image_tag Group.find(member.group_id).user.photos.first.key if Group.find(member.group_id).user.photos.attached? %>
              <% end %>
              <h5> By <%= Group.find(member.group_id).user.first_name %> <%= Group.find(member.group_id).user.last_name %> <i class="fa-solid fa-house-chimney-user fa-xs" style="color: #583f91;"></i></h5>
            </div>
            <div class="link-top">
              <% if member.status == "pending" %>
                <div class="link-heart">
                <%= link_to accept_path(member), data: {turbo_method: :patch} do %> <i class="fa-solid fa-heart" style="color: #3b034f;"></i><% end %> <%= link_to reject_path(member), data: {turbo_method: :patch} do %><i class="fa-solid fa-rectangle-xmark" style="color: #3b034f;"></i><% end %>
                </div>
              <% end %>
              </div>
              <% if member.status == "pending" %>
                <h3 class="new">NEW</h3>
              <% end %>
        </div>
      <% end %>
  </div>
  <% end %>


 <div class="dashboard-container">
<% elsif current_user.groups.empty? == false && current_user.members.empty? %>

      <h1 class="h1-owner">Manage Your Requests</h1>
      <% @groups.each do |group| %>
        <% group.members.each do |member| %>
            <% if member.invited == current_user.id %>




          <div class="dashboard-card1">
            <div class="top">
                <h5>Invitation to:</h5>
                <h5>Status:</h5>
              </div>
               <div class="top">
                 <%= link_to user_path(member.user) do %>
                  <h6> <strong><%= member.user.first_name %> <%= member.user.last_name %></strong></h5>
                 <% end %>
                <h6><%= member.status %></h6>
              </div>
              <div class="image1">
              <%= link_to user_path(member.user) do %>
                <%= cl_image_tag member.user.photos.first.key if member.user.photos.attached? %>
              <% end %>
              <h5> Was invited to your group <i class="fa-solid fa-house-chimney-user fa-xs" style="color: #583f91;"></i></h5>
              </div>
          </div>





            <% else %>

            <div class="dashboard-card1">
              <div class="top">
                <h5>Invitation to:</h5>
                <h5>Status:</h5>
              </div>
               <div class="top">
                <h6><%= link_to member.group.name, group_path(member.group) %></h6>
                <h6><%= member.status %></h6>
              </div>
              <div class="image">
              <%= link_to user_path(member.user) do %>
                <%= cl_image_tag member.user.photos.first.key if member.user.photos.attached? %>
              <% end %>
              <h5> <strong><%= member.user.first_name %> <%= member.user.last_name %></strong> <i class="fa-solid fa-house-chimney-user fa-xs" style="color: #583f91;"></i></h5>
              </div>
              <div class="bottom">
              <h6>Location * Gender * Age</h6>
              <p><%= member.user.location %> * <%= member.user.gender %> * <%= member.user.age %></p>
              <h6>Interests</h6>
              <div class="tags-list">
              <% member.user.tags.split(",").each do |tag| %>
                <ul>
                     <li><%=tag%></li>
                </ul>
              <% end %>
              </div>
              <h6>About me:</h6>
              <%= link_to "See more...", user_path(member.user) %>
              </div>
              <div class="link-top">
              <% if member.status == "pending" %>
                <div class="link-heart">
                <%= link_to accept_path(member), data: {turbo_method: :patch} do %> <i class="fa-solid fa-heart" style="color: #3b034f;"></i><% end %> <%= link_to reject_path(member), data: {turbo_method: :patch} do %><i class="fa-solid fa-rectangle-xmark" style="color: #3b034f;"></i><% end %>
                </div>
              <% end %>
              </div>
              <% if member.status == "pending" %>
                <h3 class="new">NEW</h3>
              <% end %>
            </div>
            <% end %>
        <% end %>
      <% end %>
<% end %>
</div>


<div class="dashboard-create">
  <% if current_user.groups.empty? && current_user.members.first == nil %>
    <h1>Create your group</h1>
    <%= link_to "Start", new_group_path %>
  <% end %>
</div>
