<div class="user-show">
<div class="container d-flex justify-content-between">
 <div class="card-image">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
    </div>
  </div>
</div>
<div class="main w-100 m-0">
    <div class="main-image">
      <div class="mt-3">
      <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-bs-interval="99999" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <% @user.photos.each_with_index do |photo, index| %>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>" aria-current="true" aria-label="Slide <%= index + 1 %>"></button>
          <% end %>
        </div>
        <div class="carousel-inner">
          <% @user.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= 'active' if index.zero? %>">
              <%= cl_image_tag photo.key, height: 400, width: 350, crop: :fill %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <div class="card-image-infos">
    <div>
      <h1><%=@user.first_name %> <%= @user.last_name %>, <%= @user.age %></h1>
       <h5><i class="fa-solid fa-location-dot" style="color: #6804fc;"></i>  Wants to live in <%= @user.location %></h5>
      <br>
      <div id="about-me">
      <h5>About me</h5>
      <p><%= @user.description %></p>
      </div>
      <br>
    <h4>Interests</h4>
    <div class="interests">
      <% @user.tags.split(",").each do |tag| %>
      <ul>
        <li>
          <%= tag %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
</div>

<div class="button-invite">
<% if @user.groups.empty? == false %>
  <%= link_to "Back to Group", group_path(@user.groups.first) %>
<% elsif @user.members.empty? == false %>
  <%= link_to "Back to Group", group_path(@user.members.first.group_id) %>
<% end %>
 </div>

<div class="container-show">
<br>
<% if current_user.groups.empty? == false %>
  <% if @user.groups.empty? == false %>
    <p></p>
  <% elsif @user.members.empty? == true %>
    <div class="button-invite">
    <%= button_to "Invite to your group",  new_member_user_path(@user.nickname), method: :post %>
    </div>
  <% elsif @user.members.first.status != "accepted" %>
    <div class="button-invite">
    <%= button_to "Invite to your group",  new_member_user_path(@user.nickname), method: :post %>
    </div>
  <% end %>
<% end %>
<br>
</div>
</div>
