<ul>
  <li><%= @user.first_name %></li>
  <li><%= @user.last_name %></li>
  <li><%= @user.nickname %></li>
  <li><%= @user.description %></li>
  <li><%= @user.location %></li>
</ul>

<p>Invite <%= @user.first_name %> to:</p>
<%= button_to current_user.groups[0].name,  new_member_user_path(@user.nickname), method: :post %>
