<% if user_signed_in? %>
  <div class="footer">
    <div class="footer-links">

             <%= link_to root_path do %> <i class="fa-solid fa-house-user"></i><% end %>


            <% if current_user.groups.first == nil %>
                <% if current_user.members.first != nil %>
                    <% if current_user.members.first.status == "accepted" %>

                        <%= link_to group_path(current_user.members.first.group_id) do %> <i class="fa-solid fa-users"></i> <% end %>

                    <% end %>
                <% end %>
            <% end %>

            <% if current_user.groups.first != nil %>
                      <% if current_user.groups.first["user_id"] == current_user.id %>

                          <%= link_to group_path(current_user.groups.first) do %> <i class="fa-solid fa-users"></i> <% end %>

                      <% end %>
            <% end %>

            <% if current_user.groups.first == nil %>
                <% if current_user.members.first != nil %>
                    <% if current_user.members.first.status == "accepted" %>
                      <% if Group.find(current_user.members.first.group_id).chatroom != nil  %>
                        <%= link_to chatroom_path(Group.find(current_user.members.first.group_id).chatroom) do %> <i class="fa-solid fa-comments"></i><% end %>
                      <% end %>
                    <% end %>
                <% end %>
            <% end %>

            <% if current_user.groups.first != nil %>
                      <% if current_user.groups.first["user_id"] == current_user.id %>
                        <% if current_user.groups.first.chatroom != nil %>

                            <%= link_to chatroom_path(current_user.groups.first.chatroom) do %> <i class="fa-solid fa-comments"></i><% end %>

                        <% end %>
                      <% end %>
            <% end %>



            <div class="notification">
              <% if current_user %>
                <%= link_to dashboard_path do %> <i class="fa-solid fa-user"></i><% end %>
                <%= link_to  "#{@members_pending}", "/dashboard", class: "nav-link" if @members_pending != 0 %>
                <%= link_to  "#{@sum}", "/dashboard", class: "nav-link" if  @sum != 0 %>
              <% end %>
            </div>

     </div>
  </div>
<% end %>
